<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- hamburger -->
      <ion-menu-button color="medium"></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>
        <img src="../../assets/hnmLogo.png" class="company" alt="Company Logo"/>
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="title"><strong>Weekly Record</strong></ion-label>
  <div class="content">
      <p class="label">Date:</p>
      <button class="pickerButton" ion-button icon-right>
        <ion-datetime class="picker"
          #picker pickerFormat="DD MMMM YYYY" 
          displayFormat="DD MMMM YYYY"  
          [min]="datePickerMin" 
          [(ngModel)]="datePicker" 
          (ionChange)="changeDate()">
        </ion-datetime>
        <ion-icon name="calendar-outline" class="calendar"></ion-icon>
      </button>
      <ion-button routerLink="/home/statistic/weekly/weekly-details" routerDirection="forward" shape="round" color="medium" class="getDetail">Get Detail</ion-button>
  </div>

  <strong class="recordGraph">*Graph of Weekly Records*</strong>
  <!-- <img/> -->
  
  <ion-button shape="round" color="medium" class="saveCopy">Save a Copy</ion-button>
  <ion-grid class="Graphcontent">
    <ion-row>
      <ion-col>
        <strong>Highest:</strong>
      </ion-col>
      <ion-col>
        <strong>Lowest:</strong>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <strong>Average:</strong>
      </ion-col>
      <ion-col>
        <strong>Total:</strong>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
