<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- hamburger -->
      <ion-menu-button color="medium"></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>
        <img [src]="logoImg" alt="Company Logo" class="company" />
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title"><strong>Monthly Record</strong></p>
  <div class="content">
      <p class="label">Date:</p>
      <button class="pickerButton" ion-button icon-right>
        <ion-datetime class="picker"
          #picker pickerFormat="MMMM YYYY" 
          displayFormat="MMMM YYYY"
          [(ngModel)]="dateSelected">
        </ion-datetime>
        <ion-icon name="calendar-outline" class="calendar"></ion-icon>
      </button>
      <ion-button (click)="getDetails()" shape="round" color="medium" class="getDetail">Get Detail</ion-button>
  </div>

  <ion-card>
    <ion-card-header  color ="light">
      <strong>{{monthSelected}}</strong>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas id="lineCanvas"></canvas>
    </ion-card-content>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <p><strong>Highest: </strong> {{highest}} people</p>
      </ion-col>
      <ion-col>
        <p><strong>Lowest: </strong> {{lowest}} people</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p><strong>Average: </strong> {{average.toFixed(2)}}</p>
      </ion-col>
      <ion-col>
        <p><strong>Total: </strong> {{total}} people</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
