<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- hamburger -->
      <ion-menu-button color="medium"></ion-menu-button>
      <!-- back button -->
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>
        <img [src]="logoImg" alt="Company Logo" class="company" />
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="title"><strong>Daily Record</strong></ion-label>
  <div class="content">
      <p class="label">Date:</p>
      <button class="pickerButton" ion-button icon-right>
        <ion-datetime class="picker"
          #picker pickerFormat="DD MMMM YYYY" 
          displayFormat="DD MMMM YYYY" 
          [(ngModel)]="datePicker">
        </ion-datetime>
        <ion-icon name="calendar-outline" class="calendar"></ion-icon>
      </button>
      <ion-button (click)="checkDate()" shape="round" color="medium" class="getDetail">Get Detail</ion-button>
  </div>

  <!-- <p>{{dateSelected}}</p> -->
</ion-content>
