#container {
    text-align: center;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30%;
    padding-right: 30%;
  }
  
  #container p {
    font-size: 20px;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-toolbar{
    --background: #6B0707;
    --padding-start: 20%;
    --padding-end: 20%;
    --padding-top: 1%;
    --padding-bottom: 1%;
    line-height: 20%;
  }
  
  ion-title{
    color: white;
    margin: 0 -20% 0 -20%;
  }
  
  .headertitle{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  
  .logo{
    width: 45px;
    height: auto;
    margin-right: 10px;
    float: left;
  }
  
  .signIn{
    margin-top: 5%;
  }
  
  .rounded{
    border-radius: 30px;
    margin-bottom: 10%;
    border: 1.5px solid black;
  }
  