p{
  color: white;
  font-size: 20px;
  margin: 50px;
}

.company{
  height: 50px;
  width: auto;
  display: flex;
}

ion-card{
  background-color: #6B0707;
  // background-image: linear-gradient( to left, rgb(184, 14, 14), rgba(107,7,7,1));
}
  