<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- hamburger -->
      <ion-menu-button color="medium"></ion-menu-button>
      <ion-title class="ion-text-center">
        <div class="headertitle">
          <img [src]="logoImg" alt="Company Logo" class="company" />
        </div>
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid class="content">
    <ion-row>
      <ion-col class="contentLink">
        <ion-card routerLink= "/home/customer" class="ion-activated">
          <ion-card-content>
            <p>Customer Record</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="contentLink">
        <ion-card routerLink= "/home/statistic/weekly" class="ion-activated">
          <ion-card-content>
            <p>Weekly Report</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="contentLink">
        <ion-card routerLink= "/home/statistic/daily" class="ion-activated">
          <ion-card-content>
            <p>Daily Report</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="contentLink">
        <ion-card routerLink= "/home/statistic/monthly" class="ion-activated">
          <ion-card-content>
            <p>Monthly Report</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
