<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img [src]="logoImg" alt="Company Logo" class="company" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title"><strong>Customer Record</strong></p>
  <div class="content">
      <p class="label">Date:</p>
      <button class="pickerButton" ion-button icon-right>
        <ion-datetime 
          class="picker"
          #picker pickerFormat="DD MMMM YYYY" 
          displayFormat="DD MMM YYYY"
          [(ngModel)]="datePicker">
        </ion-datetime>
        <ion-icon name="calendar-outline" class="calendar"></ion-icon>
      </button>
      <ion-button (click)="getDate()" shape="round" color="medium" class="getDetail">Get Detail</ion-button>
  </div>

  <p>{{choosenDate}}</p>
</ion-content>
