<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
      <!-- <ion-title>Customer Record</ion-title> -->
      <ion-title>
        <img src="../../assets/hnmLogo.png" class="company" alt="Company Logo"/>
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title"><strong>Customer Record</strong></p>
  <div class="content">
    <p>Date:</p>
    <button class="pickerButton" ion-button icon-right>
      <ion-datetime class="picker" 
        #picker pickerFormat="DD MMMM YYYY" 
        displayFormat="DD MMMM YYYY"  
        [min]="datePickerMin" 
        [(ngModel)]="datePicker" 
        (ionChange)="changeDate()">
      </ion-datetime>
      <ion-icon name="calendar-outline" class="calendar"></ion-icon>
    </button>
    <ion-button (click)="getCustomerDetails()" shape="round" color="medium" class="getDetail">Get Detail</ion-button>
  </div>

  <ion-button shape="round" color="medium" class="saveCopy" (click)="GetData()">Save a Copy</ion-button>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <p>No</p>
      </ion-col>
      <ion-col>
        <p>Time</p>
      </ion-col>
      <ion-col>
        <p>Name</p>
      </ion-col>
      <ion-col>
        <p>Phone Number</p>
      </ion-col>
      <ion-col>
        <p>°C</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>No</p>
      </ion-col>
      <ion-col>
        <p>{{time}}</p>
      </ion-col>
      <ion-col>
        <p>{{name}}</p>
      </ion-col>
      <ion-col>
        <p>{{phonNum}}</p>
      </ion-col>
      <ion-col>
        <p>{{tem}}</p>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-list>
    <div *ngFor="let r of customerArray">
      <p>{{r.customerID}}</p>
      <p>{{r.customerName}}</p>
      <p>{{r.cutomerContact}}</p>
      <p>{{r.cutomerWalkInDate}}</p>
      <p>{{r.cutomerWalkInTime}}</p>
      <p>{{r.customerTemp}}</p>
      <br>
    </div>
  </ion-list>

</ion-content>
