.content{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

ion-content{
    --padding-top: 2%;
}

ion-icon{
    font-size: 25px;
}

.pickerButton{
    width: 250px;
    height: 45px;
    background-color: white;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid gray;
    border-radius: 5px;
}

//
.recordTable{
    text-align: center;
    margin-left: 35%;
    margin-right: 20%;
}

.saveCopy{
    height: 20px;
    width: auto;
    margin-left: 60%;
    margin-top: 5%;
}



