<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>
        <img [src]="logoImg" alt="Company Logo" class="company" />
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title"><strong>Customer Record</strong></p>
  <div class="content">
    <p>Date:</p>
    <button class="pickerButton" ion-button icon-right>
      <ion-datetime class="picker" 
        #picker pickerFormat="DD MMMM YYYY" 
        displayFormat="DD MMMM YYYY"
        [(ngModel)]="dateSelected">
      </ion-datetime>
      <ion-icon name="calendar-outline" class="calendar"></ion-icon>
    </button>
    <ion-button (click)="getCustomerDetails()" shape="round" color="medium" class="getDetail">Get Detail</ion-button>
  </div>

  <ion-button shape="round" color="medium" class="saveCopy" (click)="getData()">Save a Copy</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Time</p>
      </ion-col>
      <ion-col>
        <p>Name</p>
      </ion-col>
      <ion-col>
        <p>Phone Number</p>
      </ion-col>
      <ion-col>
        <p>°C</p>
      </ion-col>
      <ion-col>
        <p>test</p>
      </ion-col>
    </ion-row>

    <div *ngFor="let r of customerArray">
      <ion-row>
        <ion-col>
          <p>{{r.cutomerWalkInTime}}</p>
        </ion-col>
        <ion-col>
          <p>{{r.customerName}}</p>
        </ion-col>
        <ion-col>
          <p>{{r.cutomerContact}}</p>
        </ion-col>
        <ion-col>
          <p>{{r.customerTemp}}</p>
        </ion-col>
        <ion-col>
          <p>{{r.cutomerWalkInDate}}</p>
        </ion-col>
      </ion-row>
    </div>

    <div *ngFor="let d of dependentArray">
      <ion-row>
        <ion-col>
          <p>{{d.dependentwalkInTime}}</p>
        </ion-col>
        <ion-col>
          <p>{{d.dependentName}}</p>
        </ion-col>
        <ion-col>
          <p>{{d.dependentPhoneNum}}</p>
        </ion-col>
        <ion-col>
          <p>{{d.dependentTemp}}</p>
        </ion-col>
        <ion-col>
          <p>{{d.dependentwalkInDate}}</p>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

  <!-- <ngx-datatable [rows]="title">
    <ngx-datatable-column name="name">

    </ngx-datatable-column>
  </ngx-datatable> -->


</ion-content>
