.company{
    height: 50px;
    width: auto;
    display: flex;
}

.title{
    text-align: center;
}

.content{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

ion-icon{
    font-size: 25px;
    position: absolute;
}

ion-content{
    --padding-top: 1%;
    --padding-start: 50px;
    --padding-end: 50px;
}

.pickerButton{
    width: 150px;
    height: 45px;
    background-color: white;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid gray;
    border-radius: 5px;
}
.picker{
    width: 250px;
    text-align: left;
    font-size: 15px;
    --padding-top: 12%;
}

ion-row, ion-col{
    border: 1px solid black;
    text-align: center;
}

.pdf{
    display: flex;
    justify-content: flex-end;
    // margin: 0 20px;
}

// .reminder{
//     margin: 0 50px;
// }

// ion-grid{
//     margin: 0 20px;
// }
