.company{
    height: 50px;
    width: auto;
    display: flex;
  }

.title{
    font-size: 20px;
    text-align: center;
}

.cardItem{
    text-align: center;
}

.cardItem p{
    color: white;
    font-size: 20px;
    margin: 50px;
}

ion-card{
    // background-color: #6B0707;
    background-image: linear-gradient( to right, rgb(184, 14, 14), rgba(107,7,7,1));
    // background-image: linear-gradient( to left,  rgba(22,34,44,1), rgba(107,7,7,1));
}