<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- hamburger -->
      <ion-menu-button color="medium"></ion-menu-button>
      <ion-title>
        <img [src]="logoImg" alt="Company Logo" class="company" />
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="title"><strong>Statistic</strong></p>
  <div class="cardItem">
    <ion-card routerLink= "/home/statistic/daily" class="ion-activated">
      <ion-card-content>
        <p>Daily Report</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card routerLink= "/home/statistic/weekly" class="ion-activated">
      <ion-card-content>
        <p>Weekly Report</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card routerLink= "/home/statistic/monthly" class="ion-activated">
      <ion-card-content>
        <p>Monthly Report</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
