.title{
    margin-left: 45%;
}

.chooseDate{
    float: right;
    height: 80%;
    width: auto;
}

.imgLink{
    height: 200px;
    width: auto;
    border-style: none;
}

.contentTitle{
    margin: 2% 10px ;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.company{
    height: 90px;
    width: auto;
    margin-left: 450px;
    margin-right: auto;
}